USE [master]
GO
/****** Object:  Database [ola]    Script Date: 2017/11/29 12:21:28 ******/
CREATE DATABASE [ola]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ola', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ola.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ola_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ola_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ola].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ola]
GO
USE [ola]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 2017/11/29 12:21:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Thread] [varchar](255) NOT NULL,
	[Level] [varchar](50) NOT NULL,
	[Logger] [varchar](255) NOT NULL,
	[Message] [varchar](4000) NOT NULL,
	[Exception] [varchar](2000) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LotteryOpenHistory]    Script Date: 2017/11/29 12:21:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LotteryOpenHistory](
	[Id] [uniqueidentifier] NOT NULL,
	[LotteryId] [int] NOT NULL,
	[QiHao] [nvarchar](50) NOT NULL,
	[OpenNumber] [nvarchar](50) NOT NULL,
	[OpenTime] [nvarchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UpdateTime] [datetime] NULL,
	[Source] [int] NOT NULL,
 CONSTRAINT [PK_LotteryOpenHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LotteryOpenTimes]    Script Date: 2017/11/29 12:21:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LotteryOpenTimes](
	[Id] [uniqueidentifier] NOT NULL,
	[LotteryId] [int] NOT NULL,
	[QiHao] [nvarchar](50) NOT NULL,
	[OpenTime] [datetime] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[NextQiHao] [nvarchar](50) NOT NULL,
	[PreQiHao] [nvarchar](50) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
 CONSTRAINT [PK_LotteryOpenTimes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_LotteryOpenHistory]    Script Date: 2017/11/29 12:21:29 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_LotteryOpenHistory] ON [dbo].[LotteryOpenHistory]
(
	[LotteryId] ASC,
	[QiHao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
