@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>登录</title>
    <link rel="stylesheet" href="/Content/admin/css/pintuer.css">
    <link rel="stylesheet" href="/Content/admin/css/admin.css">
    <script src="/Content/admin/js/jquery.js"></script>
    <script src="/Content/admin/js/pintuer.js"></script>
</head>
<body>
    <div class="bg"></div>
    <div class="container">
        <div class="line bouncein">
            <div class="xs6 xm4 xs3-move xm4-move">
                <div style="height:150px;"></div>
                <div class="media media-y margin-big-bottom">
                </div>
                <div class="panel loginbox">
                    <div class="text-center margin-big padding-big-top"><h1>后台管理中心</h1></div>
                    <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                        <div class="form-group">
                            <div class="field field-icon-right">
                                <input type="text" class="input input-big" name="username" placeholder="登录账号"
                                       data-validate="required:请填写账号" />
                                <span class="icon icon-user margin-small"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field field-icon-right">
                                <input type="password" class="input input-big" name="pwd" placeholder="登录密码"
                                       data-validate="required:请填写密码" />
                                <span class="icon icon-key margin-small"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field">
                                <input type="text" class="input input-big" name="vcode" placeholder="填写右侧的验证码"
                                       data-validate="required:请填写右侧的验证码" />
                                <img src="/Admin/Account/VCode" alt="" width="100" height="32" class="passcode"
                                     style="height:43px;cursor:pointer;" onclick="this.src=this.src+'?v='+Math.random()">
                            </div>
                        </div>
                    </div>
                    <div style="padding:30px;">
                        <input type="button"
                               class="button button-block bg-main text-big input-big" id="login_btn" value="登录">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="~/Content/js/common.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#login_btn").click(function () {

                //if (common.isNullIpt('input[name="username"]', '请输入账号')) {
                //    //$('#register').removeAttr('disabled');
                //    return;
                //}

                //if (common.isNullIpt('input[name="pwd"]', '请输入密码')) {
                //    //$('#register').removeAttr('disabled');
                //    return;
                //}
                //if (common.isNullIpt('input[name="vcode"]', '请填验证码')) {
                //    return;
                //}
                var username = $('input[name="username"]').val();
                var pwd = $('input[name="pwd"]').val();
                var vcode = $('input[name="vcode"]').val();
                $.ajax({
                    url: '/Admin/Account/Login',
                    type: 'POST',
                    dataType: 'text',
                    data: {
                        'UserName': username,
                        'Pwd': pwd,
                        'Vcode': vcode
                    },
                    success: function (data) {
                        if (data == "success") {
                            window.location.href = "/Admin/LotteryOpenHistories/Index";
                        } else {
                            alert(data);
                            //common.showErrors(data, undefined);
                        }
                    },
                    error: function (data) {
                        console.log(data);
                    },
                });

            });

        });
    </script>
</body>
</html>