<html>
<head>
    <meta charset="UTF-8">
    <title>山东体育彩票十一选五开奖结果_11运夺金开奖结果查询_开门彩</title>
    <link rel="stylesheet" href="/css/common_071014.css?v=1070">
    <link rel="stylesheet" href="/css/open_common_052417.css">
    <link rel="stylesheet" href="/css/jedate_050914.css">
    <script src="https://hm.baidu.com/hm.js?d770c11eabbdd373f3b5c51e494f911b"></script>
    <script src="/js/lib/jquery.1.9.min.js"></script>
    <style>
        .right-ctn .pic { width: 92px; height: 86px; margin: 7px 0 0 5px; }

        .top-box { height: 94px; }

        .r-box .padding { padding-top: 32px; }

        .r-box .lottery { font-weight: 500; padding-right: 70px; font-size: 18px; }

        #time { border: 1px solid #ccc; width: 100px; padding: 0 20px 0 10px; height: 24px; background: url("../images/icon-1.png") no-repeat 105px center; }

        .right-ctn table { width: 296px; border-right: 1px solid #e5e5e5; line-height: 30px; }
        .right-ctn table:last-child { border: none; }

        .right-ctn table tr:nth-of-type(2n) { background: #f9f9f9; }
        .right-ctn table thead td { color: #333333; }

        .right-ctn table tbody tr td:nth-child(3) { color: red; }
        /*时间插件*/
        .jedateblue .jedaul { background: #fff; }

        .jedateblue .jedaul li { color: #333333; }

        .jedateblue .jedatetop { background: #c01b17; color: #fff; overflow: hidden; text-align: center; }

        .jedateblue .jedatebot { height: 26px; line-height: 26px; padding: 0 3px 0 5px; overflow: hidden; background: #fff; }

        .jedateblue .jedaul li:hover { background: #f2f2f2; }

        .jedateblue .jedatebot .jedatebtn span { background-color: #c01b17; }

        .jedateblue { border: 1px #c01b17 solid; }

        .jedateblue .jedaul li.action, .jedateblue .jedaul li.action:hover, .jedateblue .jedaul li.action .lunar { background: #e44848; }

        .jedateblue .jedatesety .ymdropul li.action, .jedateblue .jedatesetm .ymdropul li.action { background: #e44848; }
    </style>
    <script type="text/javascript" src="/js/bd.js"></script>
</head>

<body class="sports">
    <!--头部-->
    <!-- 顶部导航开始 -->
    <div class="head_nav_wrap">
        <div class="head_nav">
            <!--未登陆-->

            <div class="h_n_left fl no_logined">
                欢迎您，
                <a href="javascript:;" class="head_nav_login">请登录</a>
                <i class="h_n_line"></i>
                <a href="javascript:;" class="head_nav_register">免费注册</a>
                <span class="update_time" style="margin-left: 20px;">更新时间:2018-07-22</span>
            </div>
            <div class="h_n_right fr">
                <a href="https://www.km28.com/">首页</a>
                <i class="h_n_line"></i>
                <a href="https://m.km28.com/">手机版</a>
                <i class="h_n_line"></i>
                <a href="https://www.km28.com/cooperation.html">商务合作</a>
                <i class="h_n_line"></i>
                <a href="https://www.km28.com/introduction.html">彩种介绍</a>
                <i class="h_n_line"></i>
                <a href="https://www.km28.com/">分享</a>
                <i class="h_n_line"></i>
                <a href="https://www.km28.com/nav.html" class="siteNav" style="background-color: rgb(243, 243, 243);"><span class="icon_nav"></span>网站导航</a>
            </div>

            <!-- 清除浮动 -->
            <s style="display: block;clear: both;"></s>
        </div>

        <div class="h_n_down_wrap" style="display: none;">
            <div class="h_n_down">
                <div class="h_n_kjgg">
                    <h3 class="h_n_title">开奖公告</h3>
                    <div class="h_n_list">
                        <div>
                            <a href="https://www.km28.com/award-qg/ssq.html"> <span>双色球<i class="redH"></i></span> </a>
                            <a href="https://www.km28.com/award-qg/fcsd.html"> <span>福彩3D<i class="redH"></i></span> </a>
                            <a href="https://www.km28.com/award-qg/qlc.html"> <span>七乐彩<i class=""></i></span> </a>
                            <a href="https://www.km28.com/award-qg/cjdlt.html"> <span>大乐透<i class="redH"></i></span> </a>
                            <a href="https://www.km28.com/award-qg/pls.html"> <span>排列三<i class=""></i></span> </a>
                            <a href="https://www.km28.com/award-qg/plw.html"> <span>排列五<i class=""></i></span> </a>
                            <a href="https://www.km28.com/award-qg/qxc.html"> <span>七星彩<i class=""></i></span> </a>
                        </div>
                        <div>
                            <a href="https://www.km28.com/gcolor/5in11.html"> <span>11选5<i class="redH"></i></span> </a>
                            <a href="https://www.km28.com/gcolor/k3.html"> <span>快3<i class=""></i></span> </a>
                            <a href="https://www.km28.com/gcolor/ssc.html"> <span>时时彩<i class="redH"></i></span> </a>
                            <a href="https://www.km28.com/gcolor/kl10.html"> <span>快乐十分<i class=""></i></span> </a>
                            <a href="https://www.km28.com/gcolor/kl12.html"> <span>快乐十二<i class=""></i></span> </a>
                            <a href="https://www.km28.com/lottery-dp/hdswxw.html"> <span>华东15选5<i class=""></i></span> </a>
                            <a href="https://www.km28.com/lottery-dp/dfljy.html"> <span>东方6+1<i class=""></i></span> </a>
                        </div>
                        <div>
                            <a href="https://www.km28.com/lottery-color/jczq.html"> <span>竞彩足球<i class="redH"></i></span> </a>
                            <a href="https://www.km28.com/lottery-color/bjdc.html"> <span>北京单场<i class=""></i></span> </a>
                            <a href="https://www.km28.com/lottery-sf/zqsf.html"> <span>足彩胜负<i class="redH"></i></span> </a>
                            <a href="https://www.km28.com/lottery-sf/rxj.html"> <span>任选九<i class=""></i></span> </a>
                        </div>

                        <s style="display: block;clear: both;"></s>
                    </div>
                </div>
                <div class="h_n_yczx">
                    <h3 class="h_n_title">预测资讯<i class="redH"></i></h3>
                    <div class="h_n_list">
                        <div>
                            <a href="https://www.km28.com/yuce/cjdlt.html"> <span>大乐透<i class="redH"></i></span> </a>
                            <a href="https://www.km28.com/yuce/ssq.html"> <span>双色球<i class="redH"></i></span> </a>
                            <a href="https://www.km28.com/yuce/fcsd.html"> <span>福彩3D<i class="redH"></i></span> </a>
                            <a href="https://www.km28.com/yuce/qlc.html"> <span>七乐彩<i class=""></i></span> </a>
                            <a href="https://www.km28.com/yuce/qxc.html"> <span>七星彩<i class=""></i></span> </a>
                            <a href="https://www.km28.com/yuce/pls.html"> <span>排列三<i class=""></i></span> </a>
                            <a href="https://www.km28.com/yuce/plw.html"> <span>排列五<i class=""></i></span> </a>
                        </div>
                        <div>
                            <a href="https://www.km28.com/yuce/jczq.html"> <span>竞彩足球<i class="redH"></i></span> </a>
                            <a href="https://www.km28.com/yuce/bjdc.html"> <span>北京单场<i class=""></i></span> </a>
                            <a href="https://www.km28.com/yuce/zqsf.html"> <span>足彩胜负<i class="redH"></i></span> </a>
                            <a href="https://www.km28.com/yuce/rxj.html"> <span>任选九<i class=""></i></span> </a>
                        </div>
                        <div>
                            <a href="https://www.km28.com/tag-flist/fcsd/sdthdszm.html"> <span>3D太湖钓叟<i class="redH"></i></span> </a>
                            <a href="https://www.km28.com/tag-flist/fcsd/yjdsm.html"> <span>一句定三码<i class="greenN"></i></span> </a>
                            <a href="https://www.km28.com/yuce/fcsd/t5.html"> <span>3D字谜<i class="redH"></i></span> </a>
                        </div>
                        <s style="display: block;clear: both;"></s>
                    </div>
                </div>
                <div class="h_n_zstb">
                    <h3 class="h_n_title">走势图表<i class="greenN"></i></h3>
                    <div class="h_n_list">
                        <div>
                            <a href="https://www.km28.com/ssq_chart_00.html"> <span>双色球走势<i class=""></i></span> </a>
                            <a href="https://www.km28.com/dlt_chart_00.html"> <span>大乐透走势<i class=""></i></span> </a>
                            <a href="https://www.km28.com/fc3d_chart_00.html"> <span>福彩3D走势<i class=""></i></span> </a>
                            <a href="https://www.km28.com/qlc_chart_00.html"> <span>七乐彩走势<i class=""></i></span> </a>
                            <a href="https://www.km28.com/qxc_chart_00.html"> <span>七星彩走势<i class=""></i></span> </a>
                            <a href="https://www.km28.com/pl3_chart_00.html"> <span>排列三走势<i class=""></i></span> </a>
                            <a href="https://www.km28.com/pl5_chart_00.html"> <span>排列五走势<i class=""></i></span> </a>
                        </div>

                        <s style="display: block;clear: both;"></s>
                    </div>
                </div>
                <div class="h_n_sjgj">
                    <h3 class="h_n_title">数据工具</h3>
                    <div class="h_n_list">
                        <div>
                            <a href="https://www.km28.com/ssq_omit_red.html"> <span>双色球遗漏<i class="greenN"></i></span> </a>
                            <a href="https://www.km28.com/dlt_omit_forward.html"> <span>大乐透遗漏<i class="greenN"></i></span> </a>
                            <a href="https://www.km28.com/fc3d_try_chart.html"> <span>3D试机号<i class=""></i></span> </a>
                            <a href="https://www.km28.com/fc3d_sh_0.html"> <span>3D杀号定胆<i class="greenN"></i></span> </a>
                        </div>

                        <s style="display: block;clear: both;"></s>
                    </div>
                </div>
                <div class="h_n_gdjc">
                    <h3 class="h_n_title">更多精彩</h3>
                    <div class="h_n_list">
                        <div>
                            <a href="https://www.km28.com/promotion/game_list.html"> <span>竞足推荐<i class="greenN"></i></span> </a>
                            <a href="https://www.km28.com/promotion/ranklist.html"> <span>专家榜<i class=""></i></span> </a>
                            <a href="https://www.km28.com/introduction.html"> <span>彩种介绍<i class=""></i></span> </a>
                            <a href="https://www.km28.com/aboutus.html"> <span>关于我们<i class=""></i></span> </a>
                            <a href="https://m.km28.com"> <span>手机版<i class="redH"></i></span> </a>
                        </div>

                        <s style="display: block;clear: both;"></s>
                    </div>
                </div>

                <!-- 清除浮动 -->
                <s style="display: block;clear: both;"></s>
            </div>
        </div>
    </div>


    <!--头部-->
    <div class="top-ctn-wrapper">
        <div class="container top-ctn">
            <a href="https://www.km28.com/"><img src="https://www.km28.com/images/KM_LOGO.png" alt="" class="logo-img fl"></a>
            <div class="headeradimgbox fs16 tac fl">
                <a href="javascript:" target="_blank" style="display:none;"><img src="/images/ad/index/pc_nav_180309.jpg"></a>
            </div>

        </div>
    </div>
    <div class="nav__new">
        <div class="nav-box">
            <a href="https://www.km28.com/" class="first">首页</a>
            <a href="https://www.km28.com/promotion/index_recommend.html" class="">足球推荐</a>
            <a href="https://www.km28.com/live.html" class="">即时比分</a>
            <a href="https://www.km28.com/odds.html" class="">指数中心</a>
            <a href="https://www.km28.com/data.html" class="">足球资料</a>
            <a href="https://www.km28.com/lottery.html" class="on-1 on">开奖大厅</a>
            <a href="https://www.km28.com/chart.html" class="">数据图表</a>
            <a href="https://www.km28.com/headlines.html" class="">彩票资讯</a>
            <a href="javascript:" class="">热门彩种</a>

            <s style="display: block;clear: both;height: 0"></s>
        </div>
        <div class="nav__new--detail">
            <div class="detail__box">
                <div class="detail--box" style="display: none;"></div><!-- 第一个不能省略 -->
                <div class="detail--box" style="display: none;">
                    <a href="https://www.km28.com/promotion/ranklist.html">专家排行</a>
                    <a href="https://www.km28.com/promotion/expert-library.html">专家</a>
                </div>
                <div class="detail--box" style="display: none; left: 130px;">
                    <a href="https://www.km28.com/live.html">即时比分</a>
                    <a href="https://www.km28.com/live/over.html">完场比分</a>
                    <a href="https://www.km28.com/live/wait.html">未来赛程</a>
                    <a href="https://www.km28.com/live/jc.html">竞彩足球比分</a>
                    <a href="https://www.km28.com/live/zc.html">足彩胜负比分</a>
                    <a href="https://www.km28.com/live/bd.html">北京单场比分</a>
                </div>
                <div class="detail--box" style="display: none;">
                    <a href="https://www.km28.com/odds.html">主盘对比</a>
                    <a href="https://www.km28.com/odds/asia.html">亚盘指数</a>
                    <a href="https://www.km28.com/odds/euro.html">欧赔指数</a>
                    <a href="https://www.km28.com/odds/compare.html">大小指数</a>
                    <a href="https://www.km28.com/odds/betfair.html">必发指数</a>
                    <a href="https://www.km28.com/fight.html">足彩十四场对阵</a>
                    <a href="https://www.km28.com/fight/six.html">六场半全场对阵</a>
                    <a href="https://www.km28.com/fight/four.html">四场进球彩对阵</a>
                </div>
                <div class="detail--box" style="display: none; left: 414.5px;">
                    <a href="https://www.km28.com/data/league/92.html">英超</a>
                    <a href="https://www.km28.com/data/league/152.html">中超</a>
                    <a href="https://www.km28.com/data/league/39.html">德甲</a>
                    <a href="https://www.km28.com/data/league/34.html">意甲</a>
                    <a href="https://www.km28.com/data/league/85.html">西甲</a>
                    <a href="https://www.km28.com/data/league/74.html">欧冠</a>
                    <a href="https://www.km28.com/data/league/58.html">欧罗巴</a>
                    <a href="https://www.km28.com/data/league/93.html">法甲</a>
                    <a href="https://www.km28.com/data/league/139.html">亚冠</a>
                    <a href="https://www.km28.com/data/fifarank.html">国际足联排名</a>
                </div>
                <div class="detail--box on" style="display: block; left: 338px;">
                    <a href="https://www.km28.com/award-qg/ssq.html">双色球</a>
                    <a href="https://www.km28.com/award-qg/fcsd.html">福彩3D</a>
                    <a href="https://www.km28.com/award-qg/cjdlt.html">大乐透</a>
                    <a href="https://www.km28.com/award-qg/qlc.html">七乐彩</a>
                    <a href="https://www.km28.com/award-qg/qxc.html">七星彩</a>
                    <a href="https://www.km28.com/award-qg/plw.html">排列五</a>
                    <a href="https://www.km28.com/award-qg/pls.html">排列三</a>
                    <a href="https://www.km28.com/gcolor/k3.html">快三</a>
                    <a href="https://www.km28.com/gcolor/kl10.html">快乐十分</a>
                    <a href="https://www.km28.com/gcolor/kl12.html">快乐十二</a>
                    <a href="https://www.km28.com/lottery-dp/hdswxw.html">华东15选5</a>
                    <a href="https://www.km28.com/lottery-dp/dfljy.html">东方6+1</a>
                    <a href="https://www.km28.com/lottery-color/jczq.html">竞彩足球</a>
                    <a href="https://www.km28.com/lottery-color/bjdc.html">北京单场</a>
                    <a href="https://www.km28.com/lottery-sf/zqsf.html">足彩胜负</a>
                    <a href="https://www.km28.com/lottery-sf/rxj.html">任选九</a>
                </div>
                <div class="detail--box" style="display: none;">
                    <a href="https://www.km28.com/ssq_chart_00.html">双色球基本走势</a>
                    <a href="https://www.km28.com/ssq_omit_red.html">红球遗漏</a>
                    <a href="https://www.km28.com/ssq_omit_blue.html">蓝球遗漏</a>
                    <a href="https://www.km28.com/dlt_omit_forward.html">大乐透前后区走势</a>
                    <a href="https://www.km28.com/ssq_sh_0.html">双色球专家杀号</a>
                    <a href="https://www.km28.com/fc3d_chart_00.html">福彩3D</a>
                    <a href="https://www.km28.com/fc3d_try_chart.html">3D试号机</a>
                    <a href="https://www.km28.com/pl3_chart_00.html">排列三</a>
                    <a href="https://www.km28.com/pl5_chart_00.html">排列五</a>
                    <a href="https://www.km28.com/qxc_chart_00.html">七星彩</a>
                    <a href="https://www.km28.com/qlc_chart_00.html">七乐彩</a>
                </div>
                <div class="detail--box" style="display: none;">
                    <a href="https://www.km28.com/yuce/cjdlt.html">超级大乐透</a><a href="https://www.km28.com/yuce/ssq.html">双色球</a><a href="https://www.km28.com/yuce/fcsd.html">福彩3D</a><a href="https://www.km28.com/yuce/pls.html">排列3</a><a href="https://www.km28.com/yuce/plw.html">排列5</a><a href="https://www.km28.com/yuce/qxc.html">七星彩</a><a href="https://www.km28.com/yuce/qlc.html">七乐彩</a><a href="https://www.km28.com/yuce/jczq.html">竞彩足球</a><a href="https://www.km28.com/yuce/bjdc.html">北京单场</a><a href="https://www.km28.com/yuce/zqsf.html">足彩胜负</a><a href="https://www.km28.com/yuce/rxj.html">任选九</a><a href="https://www.km28.com/yuce/hbks.html">湖北快三</a><a href="https://www.km28.com/yuce/nmgks.html">内蒙古快三</a>                        <a href="https://www.km28.com/tag-flist/fcsd/sdthdszm.html">太湖钓叟</a>
                    <a href="https://www.km28.com/tag-flist/fcsd/sdzmhz.html">3D字谜汇总</a>
                </div>
                <div class="detail--box" style="display: none; left: initial; right: 0px;">
                    <a href="https://www.km28.com/lothome/cjdlt.html" class="hottag">超级大乐透</a>
                    <a href="https://www.km28.com/lothome/ssq.html" class="hottag">双色球</a>
                    <a href="https://www.km28.com/lothome/fcsd.html" class="hottag">福彩3D</a>
                    <a href="https://www.km28.com/lothome/pls.html" class="hottag">排列三</a>
                    <a href="https://www.km28.com/lothome/plw.html" class="hottag">排列五</a>
                    <a href="https://www.km28.com/lothome/qlc.html" class="hottag">七乐彩</a>
                    <a href="https://www.km28.com/lothome/qxc.html" class="hottag">七星彩</a>
                    <a href="https://www.km28.com/lothome/jczq.html" class="hottag">竞彩足球</a>
                    <a href="https://www.km28.com/lothome/bjdc.html" class="hottag">北京单场</a>
                    <a href="https://www.km28.com/lothome/zqsf.html" class="hottag">足彩胜负</a>
                    <a href="https://www.km28.com/lothome/rxj.html" class="hottag">任选九</a>
                </div>
                <s style="display: block;height: 0;clear: both;"></s>
            </div>
        </div>
    </div>
    <div class="container location-ctn c888 clearfix">
        <span>当前位置：</span>
        <a href="/">首页</a><span>&gt;</span>
        <a href="/lottery.html">彩票开奖</a><span>&gt;</span>
        <a href="/lottery/gp.html">高频彩</a><span>&gt;</span>
        <a href="javascript:;" class="c666">山东11选5</a>
    </div>
    <div class="container clearfix">
        <div class="sidebar fl bd">
            <div class="sidebar fl bd">
                <div class="title-box bdb">
                    <h2 class="ic-select">彩种选择</h2>
                </div>

                <div class="pd-lr">
                    <div class="pd-lr_pt">
                        <p class="pd-lr_tit on">全国彩票 <i class="tips"></i></p>
                        <div class="pd-lr_con" style="display: none;">
                            <div class="pd-lr_sec">
                                <a href="javascript:;">福利彩票</a>
                                <div class="list_cg">

                                    <a href="https://www.km28.com/award-qg/ssq.html" class="">双色球</a>

                                    <a href="https://www.km28.com/award-qg/fcsd.html" class="">福彩3D</a>

                                    <a href="https://www.km28.com/award-qg/qlc.html" class="">七乐彩</a>
                                </div>
                            </div>
                            <div class="pd-lr_sec">
                                <a href="javascript:;">体育彩票</a>
                                <div class="list_cg">

                                    <a href="https://www.km28.com/award-qg/cjdlt.html" class="">超级大乐透</a>

                                    <a href="https://www.km28.com/award-qg/pls.html" class="">排列3</a>

                                    <a href="https://www.km28.com/award-qg/plw.html" class="">排列5</a>

                                    <a href="https://www.km28.com/award-qg/qxc.html" class="">七星彩</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pd-lr">
                    <div class="pd-lr_pt">
                        <p class="pd-lr_tit on">竞技彩票<i class="tips"></i></p>
                        <div class="pd-lr_con" style="display: none;">
                            <div class="pd-lr_sec">
                                <div class="list_cg">

                                    <a href="https://www.km28.com/lottery-color/jczq.html" class="">竞彩足球</a>

                                    <a href="https://www.km28.com/lottery-color/bjdc.html" class="">北京单场</a>

                                    <a href="https://www.km28.com/lottery-sf/zqsf.html" class="">足彩胜负</a>

                                    <a href="https://www.km28.com/lottery-sf/rxj.html" class="">任选九</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pd-lr">
                    <div class="pd-lr_pt">
                        <p class="pd-lr_tit ">高频彩票<i class="tips"></i></p>
                        <div class="pd-lr_con" style="display: block;">

                            <div class="pd-lr_sec">
                                <a href="https://www.km28.com/gcolor/5in11.html">11选5</a>
                                <div class="list_cg">

                                    <a href="https://www.km28.com/lottery-gp/ahsyxw.html" class="">安徽11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/hljsyxw.html" class="">黑龙江11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/gdsyxu.html" class="">广东11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/shsyxw.html" class="">上海11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/sdxyxw.html" class="active">山东11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/bjsyxw.html" class="">北京11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/hbsyxw.html" class="">河北11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/jssyxw.html" class="">江苏11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/fjsyxw.html" class="">福建11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/gssyxw.html" class="">甘肃11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/gxssxw.html" class="">广西11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/gzssxw.html" class="">贵州11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/jlsyxw.html" class="">吉林11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/lnsyxw.html" class="">辽宁11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/jxsyxw.html" class="">江西11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/nmgsyxw.html" class="">内蒙古11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/sxsyxw.html" class="">山西11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/shanxisyxw.html" class="">陕西11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/tjsyxw.html" class="">天津11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/xjsyxw.html" class="">新疆11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/ynsyxw.html" class="">云南11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/zjsyxw.html" class="">浙江11选5</a>

                                    <a href="https://www.km28.com/lottery-gp/hubeissyw.html" class="">湖北11选5</a>

                                </div>
                            </div>

                            <div class="pd-lr_sec">
                                <a href="https://www.km28.com/gcolor/k3.html">快三</a>
                                <div class="list_cg">

                                    <a href="https://www.km28.com/lottery-gp/bjks.html" class="">北京快三</a>

                                    <a href="https://www.km28.com/lottery-gp/fjks.html" class="">福建快三</a>

                                    <a href="https://www.km28.com/lottery-gp/shks.html" class="">上海快三</a>

                                    <a href="https://www.km28.com/lottery-gp/hbks.html" class="">湖北快三</a>

                                    <a href="https://www.km28.com/lottery-gp/jsks.html" class="">江苏快三</a>

                                    <a href="https://www.km28.com/lottery-gp/nmgks.html" class="">内蒙古快三</a>

                                    <a href="https://www.km28.com/lottery-gp/ahks.html" class="">安徽快三</a>

                                    <a href="https://www.km28.com/lottery-gp/gsks.html" class="">甘肃快三</a>

                                    <a href="https://www.km28.com/lottery-gp/gxks.html" class="">广西快三</a>

                                    <a href="https://www.km28.com/lottery-gp/gzks.html" class="">贵州快三</a>

                                    <a href="https://www.km28.com/lottery-gp/jlks.html" class="">吉林快三</a>

                                    <a href="https://www.km28.com/lottery-gp/jxks.html" class="">江西快三</a>

                                    <a href="https://www.km28.com/lottery-gp/hebeiks.html" class="">河北快三</a>

                                </div>
                            </div>

                            <div class="pd-lr_sec">
                                <a href="https://www.km28.com/gcolor/kl10.html">快乐十分</a>
                                <div class="list_cg">

                                    <a href="https://www.km28.com/lottery-gp/cqklsf.html" class="">重庆快乐十分</a>

                                    <a href="https://www.km28.com/lottery-gp/hnklsf.html" class="">湖南快乐十分</a>

                                    <a href="https://www.km28.com/lottery-gp/gdklsf.html" class="">广东快乐十分</a>

                                    <a href="https://www.km28.com/lottery-gp/sxklsf.html" class="">山西快乐十分</a>

                                    <a href="https://www.km28.com/lottery-gp/gxklsf.html" class="">广西快乐十分</a>

                                    <a href="https://www.km28.com/lottery-gp/hljklsf.html" class="">黑龙江快乐十分</a>

                                    <a href="https://www.km28.com/lottery-gp/shanxiklsf.html" class="">陕西快乐十分</a>

                                    <a href="https://www.km28.com/lottery-gp/tjklsf.html" class="">天津快乐十分</a>

                                    <a href="https://www.km28.com/lottery-gp/ynklsf.html" class="">云南快乐十分</a>

                                </div>
                            </div>

                            <div class="pd-lr_sec">
                                <a href="https://www.km28.com/gcolor/ssc.html">时时彩</a>
                                <div class="list_cg">

                                    <a href="https://www.km28.com/lottery-gp/xjssc.html" class="">新疆时时彩</a>

                                    <a href="https://www.km28.com/lottery-gp/cqssc.html" class="">重庆时时彩</a>

                                    <a href="https://www.km28.com/lottery-gp/hljssc.html" class="">黑龙江时时彩</a>

                                    <a href="https://www.km28.com/lottery-gp/nmgssc.html" class="">内蒙古时时彩</a>

                                    <a href="https://www.km28.com/lottery-gp/tjssc.html" class="">天津时时彩</a>

                                    <a href="https://www.km28.com/lottery-gp/ynssc.html" class="">云南时时彩</a>

                                </div>
                            </div>

                            <div class="pd-lr_sec">
                                <a href="https://www.km28.com/gcolor/kl12.html">快乐十二</a>
                                <div class="list_cg">

                                    <a href="https://www.km28.com/lottery-gp/lnklse.html" class="">辽宁快乐十二</a>

                                    <a href="https://www.km28.com/lottery-gp/scklse.html" class="">四川快乐十二</a>

                                    <a href="https://www.km28.com/lottery-gp/zjklse.html" class="">浙江快乐十二</a>

                                </div>
                            </div>

                            <div class="pd-lr_sec">
                                <a href="javascript:">其他</a>
                                <div class="list_cg">

                                    <a href="https://www.km28.com/lottery-gp/sdqyh.html" class="">山东群英会</a>

                                    <a href="https://www.km28.com/lottery-gp/hnxysc.html" class="">湖南幸运赛车</a>

                                    <a href="https://www.km28.com/lottery-gp/shssl.html" class="">上海时时乐</a>

                                    <a href="https://www.km28.com/lottery-gp/xjxlc.html" class="">新疆喜乐彩</a>

                                    <a href="https://www.km28.com/lottery-gp/bjpks.html" class="">北京PK拾</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="pd-lr">
                    <div class="pd-lr_pt">
                        <p class="pd-lr_tit on">低频彩票<i class="tips"></i></p>
                        <div class="pd-lr_con" style="display: none;">

                            <div class="pd-lr_sec">
                                <a href="https://www.km28.com/lottery/dp/zj.html">浙江</a>
                                <div class="list_cg">

                                    <a href="https://www.km28.com/lottery-dp/zjtcesxw.html" class="">浙江体彩20选5</a>

                                    <a href="https://www.km28.com/lottery-dp/zjtcljy.html" class="">浙江体彩6+1</a>

                                </div>
                            </div>

                            <div class="pd-lr_sec">
                                <a href="https://www.km28.com/lottery/dp/sh.html">上海</a>
                                <div class="list_cg">

                                    <a href="https://www.km28.com/lottery-dp/shttcxs.html" class="">上海天天彩选4</a>

                                </div>
                            </div>

                            <div class="pd-lr_sec">
                                <a href="https://www.km28.com/lottery/dp/js.html">江苏</a>
                                <div class="list_cg">

                                    <a href="https://www.km28.com/lottery-dp/jstc.html" class="">江苏体彩7位数</a>

                                </div>
                            </div>

                            <div class="pd-lr_sec">
                                <a href="https://www.km28.com/lottery/dp/ah.html">安徽</a>
                                <div class="list_cg">

                                    <a href="https://www.km28.com/lottery-dp/ahfceswxw.html" class="">安徽福彩25选5</a>

                                </div>
                            </div>

                            <div class="pd-lr_sec">
                                <a href="https://www.km28.com/lottery/dp/xj.html">新疆</a>
                                <div class="list_cg">

                                    <a href="https://www.km28.com/lottery-dp/xjfcsswxq.html" class="">新疆风彩35选7</a>

                                    <a href="https://www.km28.com/lottery-dp/xjfcsbxq.html" class="">新疆风采18选7</a>

                                    <a href="https://www.km28.com/lottery-dp/xjfcewxq.html" class="">新疆风采25选7</a>

                                </div>
                            </div>

                            <div class="pd-lr_sec">
                                <a href="https://www.km28.com/lottery/dp/gd.html">广东</a>
                                <div class="list_cg">

                                    <a href="https://www.km28.com/lottery-dp/gdnyfchc.html" class="">南粤风彩好彩1</a>

                                    <a href="https://www.km28.com/lottery-dp/gdnyfcenxw.html" class="">广东南粤风采26选5</a>

                                    <a href="https://www.km28.com/lottery-dp/gdnyfcsnxq.html" class="">广东南粤风采36选7</a>

                                    <a href="https://www.km28.com/lottery-dp/gdszfc.html" class="">广东深圳风采</a>

                                </div>
                            </div>

                            <div class="pd-lr_sec">
                                <a href="https://www.km28.com/lottery/dp/hlj.html">黑龙江</a>
                                <div class="list_cg">

                                    <a href="https://www.km28.com/lottery-dp/hljtcljy.html" class="">黑龙江体彩6+1</a>

                                    <a href="https://www.km28.com/lottery-dp/hljljfceexw.html" class="">黑龙江龙江风彩22选5</a>

                                    <a href="https://www.km28.com/lottery-dp/hljljfcsnxq.html" class="">黑龙江龙江风彩36选7</a>

                                    <a href="https://www.km28.com/lottery-dp/hljfcpne.html" class="">黑龙江福彩p62</a>

                                </div>
                            </div>

                            <div class="pd-lr_sec">
                                <a href="https://www.km28.com/lottery/dp/hdls.html">华东六省</a>
                                <div class="list_cg">

                                    <a href="https://www.km28.com/lottery-dp/dfljy.html" class="">东方6+1</a>

                                    <a href="https://www.km28.com/lottery-dp/hdswxw.html" class="">华东15选5</a>

                                </div>
                            </div>

                            <div class="pd-lr_sec">
                                <a href="https://www.km28.com/lottery/dp/fj.html">福建</a>
                                <div class="list_cg">

                                    <a href="https://www.km28.com/lottery-dp/fjtcsslxq.html" class="">福建体彩36选7</a>

                                    <a href="https://www.km28.com/lottery-dp/fjtceexw.html" class="">福建体彩22选5</a>

                                </div>
                            </div>

                            <div class="pd-lr_sec">
                                <a href="https://www.km28.com/lottery/dp/hen.html">河南</a>
                                <div class="list_cg">

                                    <a href="https://www.km28.com/lottery-dp/hnzyfceexw.html" class="">中原风彩22选5</a>

                                </div>
                            </div>

                            <div class="pd-lr_sec">
                                <a href="https://www.km28.com/lottery/dp/gx.html">广西</a>
                                <div class="list_cg">

                                    <a href="https://www.km28.com/lottery-dp/jsklsc.html" class="">广西快乐双彩</a>

                                </div>
                            </div>

                            <div class="pd-lr_sec">
                                <a href="https://www.km28.com/lottery/dp/ln.html">辽宁</a>
                                <div class="list_cg">

                                    <a href="https://www.km28.com/lottery-dp/lnfcswxq.html" class="">辽宁风采35选7</a>

                                </div>
                            </div>

                            <div class="pd-lr_sec">
                                <a href="https://www.km28.com/lottery/dp/heb.html">河北</a>
                                <div class="list_cg">

                                    <a href="https://www.km28.com/lottery-dp/hbyzfcesxw.html" class="">河北燕赵风采20选5</a>

                                    <a href="https://www.km28.com/lottery-dp/hbyzfchyce.html" class="">河北燕赵风采好运彩2</a>

                                    <a href="https://www.km28.com/lottery-dp/heyzfchycs.html" class="">河北燕赵风采好运彩3</a>

                                    <a href="https://www.km28.com/lottery-dp/hbyzfcplw.html" class="">河北燕赵风采排列5</a>

                                    <a href="https://www.km28.com/lottery-dp/hbyzfcplq.html" class="">河北燕赵风采排列7</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="/js/lib/jquery.1.9.min.js"></script>
            <script>
                $('.pd-lr_tit').on('click', function () {
                    $(this).toggleClass('on');
                    $(this).siblings('.pd-lr_con').slideToggle(300);
                });
            </script>

        </div>


        <!--右边-->
        <div class="container right-ctn fr">
            <div class="bd clearfix">
                <div class="top-box">
                    <img src="https://image.km28.com/20161117/20161117113005_87725.png" alt="" class="pic fl">
                    <div class="r-box fl clearfix">
                        <div class="padding">
                            <span class="lottery">山东11选5开奖信息</span>
                            <span class="c666">开奖日期：2018-07-22</span>
                            <span class="fr c666 ">按日期查询: <input type="text" id="time" placeholder="选择日期" readonly=""></span>
                        </div>
                    </div>
                </div>

                <table class="tac fl">
                    <thead>
                        <tr>
                            <td width="35">期号</td>
                            <td width="35">时间</td>
                            <td>开奖号码</td>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>01</td>
                        <td>08:36</td>
                        <td>07 08 04 10 02</td>
                        </tr>
                    <tr><td>02</td><td>08:46</td><td>08 05 02 01 10</td></tr><tr><td>03</td><td>08:56</td><td>07 06 05 09 03</td></tr><tr><td>04</td><td>09:06</td><td>10 06 09 02 04</td></tr><tr><td>05</td><td>09:16</td><td>01 07 06 08 09</td></tr><tr><td>06</td><td>09:26</td><td>07 06 05 09 03</td></tr><tr><td>07</td><td>09:36</td><td>06 11 08 05 01</td></tr><tr><td>08</td><td>09:46</td><td>02 05 06 11 10</td></tr><tr><td>09</td><td>09:56</td><td>05 01 10 04 07</td></tr><tr><td>10</td><td>10:06</td><td>10 07 02 03 04</td></tr><tr><td>11</td><td>10:16</td><td>03 02 04 06 05</td></tr><tr><td>12</td><td>10:26</td><td>02 10 11 08 07</td></tr><tr><td>13</td><td>10:36</td><td>04 01 03 11 06</td></tr><tr><td>14</td><td>10:46</td><td>02 10 03 06 08</td></tr><tr><td>15</td><td>10:56</td><td>06 09 04 02 05</td></tr><tr><td>16</td><td>11:06</td><td>05 02 06 09 11</td></tr><tr><td>17</td><td>11:16</td><td>06 03 08 09 07</td></tr><tr><td>18</td><td>11:26</td><td>10 11 09 05 02</td></tr><tr><td>19</td><td>11:36</td><td>10 01 02 09 03</td></tr><tr><td>20</td><td>11:46</td><td>11 02 07 06 10</td></tr><tr><td>21</td><td>11:56</td><td>05 09 02 11 01</td></tr><tr><td>22</td><td>12:06</td><td>08 09 10 03 06</td></tr><tr><td>23</td><td>12:16</td><td>03 01 02 04 05</td></tr><tr><td>24</td><td>12:26</td><td>05 03 10 07 02</td></tr><tr><td>25</td><td>12:36</td><td>07 03 10 01 09</td></tr><tr><td>26</td><td>12:46</td><td>09 06 04 10 08</td></tr><tr><td>27</td><td>12:56</td><td>01 05 07 03 11</td></tr><tr><td>28</td><td>13:06</td><td>05 07 04 08 06</td></tr><tr><td>29</td><td>13:16</td><td>04 01 03 11 10</td></tr><tr><td>30</td><td>13:26</td><td>11 04 09 10 01</td></tr><tr><td>31</td><td>13:36</td><td>07 05 10 08 03</td></tr><tr><td>32</td><td>13:46</td><td>07 06 09 02 08</td></tr><tr><td>33</td><td>13:56</td><td>05 09 10 11 07</td></tr><tr><td>34</td><td>14:06</td><td>03 10 11 04 05</td></tr><tr><td>35</td><td>14:16</td><td>05 04 11 02 09</td></tr><tr><td>36</td><td>14:26</td><td>05 09 08 10 01</td></tr><tr><td>37</td><td>14:36</td><td>10 02 09 08 11</td></tr><tr><td>38</td><td>14:46</td><td>04 10 09 06 07</td></tr><tr><td>39</td><td>14:56</td><td>01 11 04 03 08</td></tr><tr><td>40</td><td>15:06</td><td>06 01 03 11 08</td></tr><tr><td>41</td><td>15:16</td><td>07 05 04 10 09</td></tr><tr><td>42</td><td>15:26</td><td>04 09 06 07 10</td></tr><tr><td>43</td><td>15:36</td><td>03 11 02 01 09</td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr></tbody>
                </table>
                <table class="tac fl">
                    <thead>
                        <tr>
                            <td width="35">期号</td>
                            <td width="35">时间</td>
                            <td>开奖号码</td>
                        </tr>
                    </thead>
                    <tbody><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr></tbody>
                </table>
                <table class="tac fl">
                    <thead>
                        <tr>
                            <td width="35">期号</td>
                            <td width="35">时间</td>
                            <td>开奖号码</td>
                        </tr>
                    </thead>
                    <tbody><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr></tbody>
                </table>
            </div>
        </div>

    </div>

    <!--footer-->
    <!--登陆弹窗-->
    <div class="shade" style="display: none"></div>
    <!--登陆-->
    <div class="login-register-ctn login-ctn" style="display: none">
        <div class="ipt-box" style="text-align:center">拿起手机扫描二维码下载APP注册账号</div>
        <form onsubmit="return false" id="register-form">
            <img src="/c.png" alt="" class="login-logo">

            <div class="ipt-box" style="text-align:center">
                <!--<button id="register-btn" class="l-g-btn">注 册</button>-->
                <a href="/css/pcreg.html" target="_blank" style="color:red;">您还可以点击这里进行账号注册</a>
            </div>
        </form>

        <div class="ipt-box">
            <div class="ck-btn fl">
                <i class="check-box fl bd" id="rememberMe"></i>
                <!--<input type="checkbox" class="rememberbtn" id="rememberMe">-->
                <i href="javascript:;" class="fl c999">十天内免登陆</i>
                <i class="pd-lr">|</i>
            </div>
            <a href="https://www.km28.com/person/forget_pass.php" class="c999 fl find-psd">忘记密码?</a>
            <a href="javascript:;" class="c999 fr go-to-register">去注册</a>
            <span class="other fl tac c999">其它登录方式</span>
            <div class="bdb line"></div>
        </div>
        <div class="ipt-box tac">
            <!--<span class="qq icon"></span>-->
            <!--<span class="wechat icon"></span>-->
            <a href="" class="qq icon"></a>
            <a href="" class="wechat icon"></a>
        </div>
        <div class="close-btn"></div>
    </div>
    <!--注册-->
    <div class="login-register-ctn register-ctn" style="display: none">
        <img src="/images/LOGO.png" alt="" class="login-logo">
        <div class="ipt-box" style="text-align:center">拿起手机扫描二维码下载APP注册账号</div>
        <form onsubmit="return false" id="register-form">
            <img src="/c.png" alt="" class="login-logo">

            <div class="ipt-box" style="text-align:center">
                <!--<button id="register-btn" class="l-g-btn">注 册</button>-->
                <a href="/css/pcreg.html" target="_blank" style="color:red;">您还可以点击这里进行账号注册</a>
            </div>
        </form>

        <div class="ipt-box">
            <div class="ck-btn fl">
                <i class="check-box1 ck fl bd"></i>
                <span class="fl c999">我已阅读并接受</span>
                <a target="_blank" href="https://www.km28.com/disclaimer.html" class="fl c999">《开门彩服务条款》</a>
            </div>
            <a href="javascript:;" class="c999 fr go-to-login">去登录</a>
        </div>
        <div class="close-btn"></div>
    </div>


    <div class="commonjs" style="background-color:#fff">
        <p style="" class="intro_desc"><img src="https://www.km28.com/images/heart.jpg"><span>栏目介绍</span></p>
        <p><br>　　山东体彩11选5开奖结果栏目提供了最新的山东11选5开奖号码、开奖时间等相关信息,并提供11选5助手下载,方便在手机上随时随地查看数据。其中包括了山东11选5今日，昨日，前天3天的开奖结果，山东11选5前一、前二、前三开奖号码及每期的开奖时间、开奖直播等内容，山东11选5开奖结果官网同步更新，全网最快，让你第一时间了解最新山东11选5开奖结果信息。山东体彩11选5开奖记录说明:每日开奖 81 期,开奖频率 10分钟。山东11选5开奖结果栏目提供了最新的山东11选5开奖号码、开奖时间、号码走势、遗漏数据等相关信息,并提供山东11选5助手下载,方便在手机上随时随地查看数据。“山东11选5”电脑体育彩票由国家体育总局体育彩票管理中心组织发行，经财政部批准的省级体育彩票管理中心在所辖区域内承销，采用计算机网络系统发行销售。中国体育彩票高频选5彩票“山东11选5”属于各省级体彩管理中心自行发行彩票。山东11选5是从01-11共11个号码中任选1-8个号码进行投注，每期开出5个号码为中奖号码，设12个奖项，相当于12个玩法，投注方式灵活，开奖频次高，全面满足不同彩民的投注需要。以上信息简要介绍了山东11选5开奖结果相关内容，供您参考。<br>　　全国山东11选5开奖记录：每日开奖87期，每日开奖，本期开奖时间2018-07-22 15:36，下期开奖时间2018-07-22 15:46，当前期号：第2018072243期，下期期号：第2018072244期。</p>
    </div>
    <div class="footer tac">
        <div class="container suggest-ctn fs14 c666 ">
            声明：本网资讯仅供体育爱好者浏览、购买中国足彩参考之用。未满18岁的未成年人禁止购彩及兑奖。任何人不得用于非法用途，否则责任自负。<br>
            开门彩平台仅提供用彩票信息资讯，无售彩业务。本网所登载广告均为广告客户的个人意见及表达方式，和本网无任何关系。链接的广告不得违反国家法律规定，如有违者，本网有权随时予以删除，并保留与有关部门合作追究的权利。
        </div>
        <div class="container-full dark cfff">
            <div class="container">
                <div class="pdt10">
                    <a href="https://www.km28.com/introduction.html">彩种介绍</a>
                    <a href="https://m.km28.com/">触屏版</a>
                    <a href="https://www.km28.com/aboutus.html">关于我们</a>
                    <a href="https://www.km28.com/disclaimer.html">免责声明</a>
                    <a href="https://www.km28.com/cooperation.html">商务合作</a>
                </div>
                <p class="pdt10">COPYRIGHT2016  KM28.COM.ALL RIGHT RESERVED蜀ICP备17008678号-1</p>
                <p class="pdt10">成都翻祤科技有限公司版权所有 </p>
                <a href="https://v.pinpaibao.com.cn/cert/site/?site=www.km28.com" class="lianjie1"><img src="/images/hy_100-38.png"></a>
                <a href="http://www.cn-ecusc.org.cn/cert/aqkx/site/?site=www.km28.com" class="lianjie2"><img src="/images/aqkx_100-38.png"></a>
            </div>
        </div>
    </div>
    <script src="https://www.km28.com/js/lib/jquery.1.9.min.js"></script>
    <script src="https://www.km28.com/js/lib/jquery.cookie.js"></script>
    <div class="common_alert" style="display: none;">
        <div class="ca_bg"></div><div class="ca_content"><span class="ca_close"> X </span><img class="ca_img" src="/images/qrcode01.png"><p>手机扫一扫，查看免费推荐</p></div><div>
            <script type="text/javascript">$(document).ready(function () { $(".prom_link_a").attr("href", "javascript:"); $(".prom_link_a").click(function () { commonAlert() }); }); function commonAlert() { $(".common_alert").fadeIn("slow"); } $(".common_alert .ca_close").on("click", function () { $(".common_alert").fadeOut("slow"); })</script>
            <script type="text/javascript">
                function getPosition() {
                    var $move_box = $('.detail--box.on');
                    var $a_on = $('.nav__new a.on');
                    var $index = $a_on.index();
                    var $p_distance = $a_on.width() * ($index + 0.5);
                    var $c_width = $move_box.width() / 2;
                    if ($c_width < $p_distance) {
                        var $move_distance = $p_distance - $c_width;
                        if ($move_distance + $c_width * 2 > 1200) {
                            $move_box.css({ 'left': 'initial', 'right': '0' });
                        } else {
                            $move_box.css('left', $move_distance);
                        }
                    } else {
                        $move_box.css({ 'left': '0', 'right': 'initial' });
                    }
                }
                function getOnShow() {
                    $('.detail--box').removeClass('on').hide();
                    $('.detail--box').eq($('.nav__new a.on').index()).addClass('on').show();
                }
                function backToDefault() {
                    $('.nav__new a').removeClass('on');
                    $('.nav__new a.on-1').addClass('on');
                    getOnShow();
                    getPosition();
                }
                $('.nav__new a').on('mouseover', function () {
                    $(this).addClass('on').siblings().removeClass('on');
                    if ($('.nav__new a.on').index() == 0) {
                        return
                    }
                    $('.nav__new--detail').show();
                    getOnShow();
                    getPosition();
                })
                $('.nav__new').on('mouseleave', function () {
                    backToDefault();
                })
                $()
                backToDefault();
            </script>
            <script src="/js/lib/jquery.jedate.min.js"></script>
            <script>
                $(function () {
                    var start = {
                        festival: false,
                        ishmsVal: false,
                        //      format: 'YYYY/MM',
                        format: 'YYYY-MM-DD',
                        minDate: '2010-06-16 23:59:59', //设定最小日期为当前日期
                        maxDate: $.nowDate(0), //最大日期
                        choosefun: function (elem, val) {
                            window.location.href = '/lottery-gp/sdxyxw/' + val + ".html"
                        },
                        okfun: function (elem, val) {
                            console.log(val)
                        }
                    };
                    $("#time").jeDate(start);
                });
                window.onresize = function () {
                    $('#jedatebox').remove()
                }
            </script>
            <script src="/js/common_06081747.js"></script>

        </div>
    </div>
</body>
</html>